@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;600;800&display=swap');

:root {
  /* Typography */
  --family: 'Roboto', sans-serif;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fw-light: 300;
  --fw-normal: 600;
  --fw-bold: 800;
}

body {
  margin: 0;
  font-family: var(--family);
}
